.errorMessage {
  color: rgb(138, 14, 14);
}


.loginSection {
  margin: auto;
  width: 80%;
  padding: 5%;
}

ion-card-title {
  text-align: center;
  color: black;
}

ion-label {
  padding: 20px;
  font-size: 24px;
}

.unclickedButton {
  background-color: gray;
  color: white;
}

.clickedSuccessButton {
  background-color: green;
  color: white;
}

.clickedFailButton {
  background-color: red;
  color: white;
}